body {
  font-family: 'SF Pro Display';
  color: #050517;
  background-color: #fff;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  min-height: 100vh;
  height: auto;

  main {
    flex-grow: 1;
  }
}

.container {
  width: calc(100% - 30px);
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 40px 0;
}

.section-title {
  display: block;
  margin-bottom: 64px;
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: #050517;
}

.gray-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2065e6;
  border: 1px solid #e1e3f0;
  border-radius: 40px;
  height: 48px;
  padding: 5px 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #2065e6;

  span {
    display: block;
    margin: 0;
    padding: 0;
  }
}

.blue-btn {
  display: flex;
  min-height: 48px;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background: #2065e6;
  border-radius: 40px;
  width: 100%;
  max-width: 345px;
  text-decoration: none;
}

* {
  outline: none;
}

.paper {
  .section-title {
    text-align: left;
    margin-bottom: 30px;
  }

  p {
    display: block;
    max-width: 1138px;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #0d1321;

    & + p {
      margin-top: 20px;
    }
  }
}

.nowrap {
  white-space: nowrap;
  font-weight: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
}

.slide_bar {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  padding: 40px 32px;
  background: #f5f6fb;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  width: 529px;

  &-btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a {
      width: calc(50% - 8px);

      & + a {
        margin-left: 16px;
      }
    }
  }

  &-content {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 16px 24px;
    margin: 32px 0;
    background: #ffffff;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.08);

    &-row {
      width: fit-content;
      margin-right: auto;

      & + & {
        margin-left: auto;
      }

      p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 191%;
        color: #6e737d;

        b {
          display: block;
          width: 97px;
          padding-left: 20px;
          margin-left: auto;
          font-weight: 600;
          font-size: 14px;
          color: #0d1321;
        }
      }
    }
  }

  &-flexing {
    & + & {
      margin-top: 24px;
    }

    &-label {
      display: flex;
      justify-content: space-between;
      align-items: center;

      label {
        font-weight: normal;
        font-size: 13px;
        line-height: 135%;
        color: #6e737d;
      }

      input {
        max-width: 100px;
        background: transparent;
        font-weight: 600;
        font-size: 18px;
        line-height: 135%;
        text-align: right;
        color: #0d1321;
      }
    }

    .ui-slider {
      position: relative;
      height: 21px;
      width: 100%;
      background: #e9ebf3;
      border-radius: 27px;
      margin-top: 20px;
      overflow: hidden;

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 2;
        display: block;
        transform: translate(-50%, -50%);
      }

      .ui-slider-handle {
        z-index: 3;
        top: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 21px;
        background: #c2e812;
        border-radius: 27px;
        margin-left: -18px;
      }

      .ui-slider-range {
        position: absolute;
        z-index: 4;
        top: 0;
        height: 21px;
        background: 7px center / 451px url(../img/flexing-svg.svg) no-repeat;
        border-radius: 27px;
      }
    }
  }
}
