body {
  font-family: 'SF Pro Display';
  color: #050517;
  background-color: #fff;

  &.hidden {
    overflow: hidden;
  }
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  overflow: hidden;

  main {
    flex-grow: 1;
  }
}

.container {
  width: calc(100% - 30px);
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 40px 0;

  @include mMax {
    padding: 20px 0;
  }
}

.section-title {
  display: block;
  margin-bottom: 64px;
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: #050517;

  @include mMax {
    font-size: 18px;
    line-height: 125%;
    margin-bottom: 32px;
  }
}

.gray-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2065e6;
  border: 1px solid #e1e3f0;
  border-radius: 40px;
  height: 48px;
  padding: 5px 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #2065e6;
  text-decoration: none;

  span {
    display: block;
    margin: 0;
    padding: 0;
  }
}

.blue-btn {
  display: flex;
  min-height: 48px;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background: #2065e6;
  border-radius: 40px;
  width: 100%;
  max-width: 345px;
  text-decoration: none;
}

* {
  outline: none;
}

.paper {
  .section-title {
    text-align: left;
    margin-bottom: 30px;
  }

  p {
    display: block;
    max-width: 1138px;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #0d1321;

    @include mMax {
      font-size: 14px;
    }

    & + p {
      margin-top: 20px;

      @include mMax {
        margin-top: 10px;
      }
    }
  }
}

.nowrap {
  white-space: nowrap;
  font-weight: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
}

.slide_bar {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  padding: 40px 32px;
  background: #f5f6fb;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  width: 529px;

  &-btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a {
      width: calc(50% - 8px);

      & + a {
        margin-left: 16px;
      }
    }
  }

  &-content {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 16px 24px;
    margin: 32px 0;
    background: #ffffff;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.08);

    &-row {
      width: fit-content;
      margin-right: auto;

      & + & {
        margin-left: auto;
      }

      p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 191%;
        color: #6e737d;

        b {
          display: block;
          width: 97px;
          padding-left: 20px;
          margin-left: auto;
          font-weight: 600;
          font-size: 14px;
          color: #0d1321;
        }
      }
    }
  }

  &-flexing {
    & + & {
      margin-top: 24px;
    }

    &-label {
      display: flex;
      justify-content: space-between;
      align-items: center;

      label {
        font-weight: normal;
        font-size: 13px;
        line-height: 135%;
        color: #6e737d;
      }

      input {
        max-width: 100px;
        background: transparent;
        font-weight: 600;
        font-size: 18px;
        line-height: 135%;
        text-align: right;
        color: #0d1321;
      }
    }

    .ui-slider {
      position: relative;
      height: 21px;
      width: 100%;
      background: #e9ebf3;
      border-radius: 27px;
      margin-top: 20px;
      overflow: hidden;

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 2;
        display: block;
        transform: translate(-50%, -50%);

        @include mMax {
          width: 321px;
        }

        @include sMax {
          width: 265px;
        }
      }

      .ui-slider-handle {
        z-index: 3;
        top: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 21px;
        background: #c2e812;
        border-radius: 27px;
        margin-left: -18px;
      }

      .ui-slider-range {
        position: absolute;
        z-index: 4;
        top: 0;
        height: 21px;
        background: 7px center / 451px url(../img/flexing-svg.svg) no-repeat;
        border-radius: 27px;
      }
    }
  }
}

.long-slide_bar {
  padding: 32px 20px 40px;
  border-radius: 20px;
  background: #f5f6fb;
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.19);

  @include mMax {
    box-shadow: none;
  }

  &-title {
    display: block;
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    color: #0d1321;
  }

  .slide_bar-flexing .ui-slider .ui-slider-range {
    background: 6px center / 332px url(../img/svg-bg-active.svg) no-repeat;

    @include mMax {
      background: 7px center / 321px 10px url(../img/svg-bg-active.svg) no-repeat;
    }

    @include sMax {
      background: 7px center / 265px 10px url(../img/svg-bg-active.svg) no-repeat;
    }
  }

  .slide_bar-btns {
    display: block;

    a {
      width: 100%;

      & + a {
        margin-top: 16px;
        margin-left: 0;
      }
    }
  }
  .slide_bar-content {
    padding: 32px;
    position: relative;
    margin: 46px 0 38px;

    .clip-bg {
      position: absolute;
      z-index: 1;
      left: 0;
      top: -6px;
      width: 345px;
      height: calc(100% + 12px);

      @include mMax {
        &:not(.mobile) {
          width: 335px;
        }
      }

      &.mobile {
        display: none;
      }

      @include sMax {
        display: none;

        &.mobile {
          width: 280px;
          display: block;
        }
      }
    }
  }
  .slide_bar-content-row {
    width: 100%;
    position: relative;
    z-index: 2;

    h2 {
      display: block;
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 18px;
      line-height: 135%;
      color: #0d1321;
    }

    p {
      min-height: 34px;
      border-bottom: 1px solid #eef0f9;

      &:last-child {
        margin-top: 20px;
        border-bottom: 0;
      }
    }
  }
}
