.htg {
  &-container {
    @include mMax {
      width: 100%;
    }
  }
  &-bar {
    width: 384px;
    flex-shrink: 0;
    margin-left: auto;

    @include tMax {
      margin: 20px auto 0;
    }

    @include mMax {
      width: 375px;
      margin: 0 auto;
    }

    @include sMax {
      width: 320px;
    }
  }
  .section-title {
    text-align: left;
  }

  &-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    @include tMax {
      display: block;
    }
  }

  &-content {
    width: 58%;
    max-width: 689px;

    @include tMax {
      width: 100%;
      max-width: none;
    }

    @include mMax {
      position: relative;
      width: calc(100% - 30px);
      margin: 0 auto;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 15px;
        display: block;
        width: 2px;
        height: 70%;
        background: #e9ebf5;
      }
    }

    @include tMin {
      .take-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: none;
        margin: 0;

        & + .take-item {
          margin-top: 48px;
        }

        .take-img {
          flex-shrink: 0;
          margin-bottom: 0;
        }

        .take-texts {
          padding-left: 40px;
          span,
          p {
            text-align: left;
          }
        }
      }
    }
  }

  &-date {
    background: #f5f6fb;
    border-radius: 15px;
    margin-top: 80px;
    padding: 40px 20px 40px 40px;
    max-width: 670px;

    @include mMax {
      padding: 20px;
      margin-top: 40px;
    }

    .section-title {
      margin-bottom: 30px;

      @include mMax {
        margin-bottom: 10px;
      }
    }

    p {
      display: block;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #6e737d;

      @include mMax {
        font-size: 14px;
      }
    }
  }
}

.htr-content {
  @include mMax {
    margin-bottom: 40px;

    &:before {
      display: none;
    }

    .take-item {
      @include mMax {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 0;
        max-width: none;
        margin-bottom: 32px;
        border: none;

        &:last-child {
          margin-bottom: 0;
        }

        &-texts {
          padding-left: 24px;
        }
      }
    }

    span {
      @include mMax {
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 5px;
        max-width: none;
        text-align: left;
      }
    }

    p {
      @include mMax {
        font-size: 14px;
        line-height: 150%;
        max-width: none;
        text-align: left;
      }
    }

    .take-img {
      @include mMax {
        position: relative;
        width: 89px;
        height: 89px;
        margin: 0;
        flex-shrink: 0;
        box-shadow: none;

        img {
          position: absolute;
          left: 0;
          top: 0;
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }

    .take-texts {
      @include mMax {
        padding-left: 24px;
      }
    }
  }

  @include mMin {
    .take-img {
      height: 242px;
      box-shadow: none;
      border-radius: none;

      img {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
      }
    }

    .take-item + .take-item {
      margin-top: 70px;
    }
  }
}
