.index-page {
  .header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    background: transparent;
  }
}

.f_banner {
  position: relative;
  z-index: 2;
  padding: 107px 0 0;
  background: radial-gradient(
      83.44% 320.27% at 0% 100%,
      #0055b8 0%,
      #2065e6 0.01%,
      rgba(0, 85, 184, 0) 100%
    ),
    #0055b8;
  margin-bottom: 40px;

  &-small {
    padding: 40px 0 0;
  }

  &-container {
    position: relative;
  }

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 532px;
    width: 454px;

    @include mMax {
      min-height: 221px;
      width: 100%;
    }

    img {
      position: absolute;
      z-index: 1;
      left: -72px;
      top: 50%;
      display: block;
      width: 770px;
      transform: translateY(-50%);

      @include mMax {
        width: 319px;
        left: -6px;
      }
    }

    @include tMax {
      width: 100%;
    }
  }

  &-desc {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: auto;
    margin-right: auto;
    min-height: 136px;
    padding: 0 106px 0 32px;
    background: #c2e812;
    font-weight: bold;
    font-size: 40px;
    line-height: 135%;
    color: #0d1321;
    border-left: 10px solid #ff6e5a;

    @include tMax {
      width: 100%;
    }

    @include mMax {
      position: absolute;
      right: 0;
      top: 10px;
      width: 144px;
      background: transparent;
      border: none;
      padding: 0;
      font-weight: 600;
      font-size: 18px;
      line-height: 135%;
      color: #ffffff;
    }
  }

  @include tMax {
    padding-top: 20px;
    margin-bottom: 500px;

    .slide_bar {
      top: calc(100% + 20px);
      right: 50%;
      transform: translateX(50%);
    }
  }

  @include mMax {
    margin-bottom: 0;
    border-radius: 0 0 20px 20px;

    .slide_bar {
      display: none;
    }
  }
}

.why {
  &-catalog {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: -56px;

    @include mMax {
      display: block;
      margin-bottom: -24px;
    }
  }

  &-item {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: calc(33.333% - 138px / 3);
    margin-bottom: 56px;
    margin-right: 69px;
    min-width: 271px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    @include mMax {
      width: 100%;
      margin-bottom: 24px;
    }
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    flex-shrink: 0;

    img {
      display: block;
      max-width: 100%;
    }

    @include mMax {
      width: 50px;
    }
  }

  &-text {
    padding-left: 24px;

    span {
      display: block;
      margin-bottom: 10px;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      color: #0d1321;
    }

    p {
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      color: #6e737d;
    }

    @include mMax {
      padding-left: 17px;

      span {
        font-size: 14px;
        margin-bottom: 5px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

.loyal {
  &-content-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    @include tMax {
      display: block;
    }
  }

  &-grafic {
    width: 450px;
    margin-right: 46px;
    flex-shrink: 0;

    img {
      display: block;
      width: 100%;
    }

    @include tMax {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    padding: 40px 57px 40px 40px;
    background: #f5f6fb;
    border-radius: 15px;

    h3 {
      display: block;
      margin-bottom: 23px;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #0d1321;
    }

    p {
      display: block;
      margin-bottom: 10px;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #6e737d;
    }

    .gray-btn {
      margin-top: auto;
      max-width: 224px;
    }

    @include tMax {
      display: none;
    }
  }
}

.take {
  .blue-btn {
    margin: 0 auto;
  }

  .section-title {
    margin-bottom: 20px;

    @include mMax {
      margin-bottom: 10px;
    }
  }
  &-desc {
    display: block;
    margin-bottom: 48px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #0d1321;

    @include mMax {
      font-size: 14px;
      line-height: 135%;
      margin-bottom: 32px;
    }
  }
  &-catalog {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 56px;
    flex-wrap: wrap;

    @include mMax {
      display: block;
      margin-bottom: 34px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 15px;
        display: block;
        width: 2px;
        height: 72%;
        background: #e9ebf5;
      }
    }
  }

  &-item {
    position: relative;
    width: 33%;
    max-width: 299px;
    margin: auto;
    min-width: 293px;
    margin-bottom: 40px;

    @include mMax {
      width: 100%;
      max-width: none;
    }

    span {
      display: block;
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #0d1321;

      @include mMax {
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 8px;
      }
    }

    p {
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #6e737d;

      @include mMax {
        max-width: 213px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 150%;
      }
    }
  }
  &-img {
    position: relative;
    display: block;
    width: 100%;
    max-width: 257px;
    margin: 0 auto 34px;
    border-radius: 17px;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.11);

    @include mMax {
      position: static;
      max-width: 175px;
      margin-bottom: 16px;
    }

    img {
      display: block;
      width: 100%;
    }

    b {
      position: absolute;
      left: -20px;
      top: 50%;
      z-index: 2;
      margin-top: -20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: #2065e6;
      border-radius: 50%;
      font-weight: 600;
      font-size: 16px;
      line-height: 135%;
      color: #ffffff;

      @include mMax {
        top: 0;
        left: 0;
        margin: 0;
        width: 32px;
        height: 32px;
        font-size: 14px;
        line-height: 135%;
      }
    }
  }
}

.repay {
  &-catalog {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mMax {
      display: block;
    }
  }

  &-item {
    width: 33%;
    max-width: 408px;
    padding: 0 47px;
    border-right: 1px solid #e1e3f0;

    @include mMax {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      padding: 0;
      max-width: none;
      margin-bottom: 32px;
      border: none;

      &:last-child {
        margin-bottom: 0;
      }

      &-texts {
        padding-left: 24px;
      }
    }

    &:nth-child(3n) {
      border-right: 0;
    }

    span {
      display: block;
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #0d1321;

      @include mMax {
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 5px;
      }
    }

    p {
      display: block;
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #6e737d;

      @include mMax {
        font-size: 14px;
        line-height: 150%;
      }
    }

    a {
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      text-decoration-line: underline;
      color: #2065e6;

      @include mMax {
        font-size: 14px;
        line-height: 150%;
      }
    }
  }

  &-img {
    width: 100%;
    height: 191px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;

    @include mMax {
      position: relative;
      width: 89px;
      height: 89px;
      margin: 0;
      flex-shrink: 0;

      img {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}

.reviews {
  &-slider {
    margin: 0 -12px;

    @include mMax {
      margin: 0;
    }

    .slick-slide {
      padding: 0 12px;

      @include mMax {
        padding: 0;
      }
    }
  }
  &-item {
    background: #f5f6fb;
    border-radius: 15px;
    padding: 32px;

    @include mMax {
      padding: 24px 24px 0;
      border-radius: 15px 15px 0 0;
    }
  }

  &-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e9ebf5;

    &-names {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &-user {
      flex-shrink: 0;
      width: 40px;
      height: 40px;
      border-radius: 10px;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-desc {
      padding-left: 12px;

      span {
        display: block;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: #0d1321;
      }

      p {
        display: block;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        color: #6e737d;
      }
    }

    &-appraisal {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #c2e812;
      border-radius: 8px;
      padding: 3px 6px;

      img {
        display: block;
        width: 12px;
      }
      span {
        display: block;
        padding-left: 4px;
        font-weight: 600;
        font-size: 12px;
        line-height: 150%;
        color: #0d1321;
      }
    }
  }

  &-text {
    p {
      display: block;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #0d1321;

      @include mMax {
        font-size: 14px;
        padding-bottom: 40px;
        border-bottom: 1px solid #e9ebf5;
      }
    }
  }

  &-tools {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mMax {
      margin-top: 0;
      padding: 16px 0;
      border-radius: 0 0 15px 15px;
      background: #f5f6fb;
    }

    &-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 24px;

      .reviews-current_num {
        display: block;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #2065e6;
      }

      .reviews-line {
        display: block;
        width: 1px;
        height: 25px;
        margin: 0 5px;
        background-color: #e1e3f0;
      }

      .reviews-all_num {
        display: block;
        font-weight: normal;
        font-size: 13px;
        line-height: 25px;
        color: #6e737d;
      }
    }
  }

  &-arrow {
    &:hover {
      svg {
        path {
          stroke: #2065e6;
        }
      }
    }
  }
}

.faq {
  &-wrapper {
    padding: 31px 32px 24px;
    background: #f5f6fb;
    border-radius: 15px;

    @include mMax {
      padding: 24px;
    }
  }

  &-item {
    & + & {
      margin-top: 20px;
    }

    &:last-child {
      .faq-heading:not(.active) {
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
  }

  &-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e3f0;
    padding-bottom: 14px;
    cursor: pointer;
    transition: padding 0.2s linear, border 0.2s linear;

    p {
      display: block;
      padding-right: 20px;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #050517;
      transition: color 0.2s linear;

      @include mMax {
        font-size: 14px;
      }
    }

    b {
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #e1e3f0 46% 40% / auto url(../img/faq-arrow.svg) no-repeat;
      transition: background 0.2s linear, transform 0.2s linear;
      flex-shrink: 0;
    }

    &.active {
      p {
        color: #2065e6;
      }

      b {
        transform: rotate(180deg);
        background: #2065e6 46% 35% / auto url(../img/faq-arrow.svg) no-repeat;
      }
    }
  }

  &-content {
    display: none;
    padding: 16px 24px 20px;
    border-bottom: 1px solid #e1e3f0;
    background-color: #fff;

    p {
      display: block;
      max-width: 500px;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: #050517;
    }

    @include mMax {
      padding: 16px 20px 44px 16px;

      p {
        font-size: 14px;
      }
    }
  }
}

.about {
  &-wrapper {
    padding: 48px 0;
    background: #f5f6fb;

    @include tMax {
      padding: 0;
      background: transparent;
    }
  }

  &-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    @include tMax {
      flex-direction: column;
    }
  }

  &-text {
    width: calc(50% - 24px);
    padding: 40px 50px 40px 40px;
    margin-right: 48px;
    background: #ffffff;
    border-radius: 15px;

    @include tMax {
      width: 100%;
      order: 1;
      padding: 0;
      margin-right: 0;
      margin-top: 24px;
    }

    h3 {
      display: block;
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #0d1321;

      @include tMax {
        font-size: 14px;
      }
    }

    p {
      display: block;
      margin-bottom: 20px;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: #0d1321;

      @include tMax {
        font-size: 12px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-video {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 24px);
    border-radius: 15px;

    @include tMax {
      width: 100%;
    }

    &-bg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &-play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 80px;
      width: 80px;
      z-index: 2;

      @include tMax {
        width: 50px;
        height: 50px;
      }

      img {
        display: block;
        width: 100%;
      }
    }
  }
}

.partners {
  &-catalog {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    border: 1px solid #e1e3f0;
    border-radius: 15px;
    flex-wrap: wrap;
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91px;
    width: 20%;
    border-right: 1px solid #e1e3f0;

    @include mMax {
      width: 50%;
      border-bottom: 1px solid #e1e3f0;

      &:nth-child(2n) {
        border-right: 0;
      }

      &:nth-child(2n - 1) {
        border-right: 1px solid #e1e3f0;
      }
    }

    img {
      display: block;
      max-width: 90%;
    }

    &:last-child {
      border-right: 0;

      @include mMax {
        border-right: 1px solid #e1e3f0;
        border-bottom: 0;
      }
    }
  }
}

.mobile-bar {
  display: none;

  @include mMax {
    display: block;
    padding-top: 19px;
    margin-top: -15px;
    background: #f5f6fb;
    border-radius: 0 0 20px 20px;
  }
}
